/*FONTS*/
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

body {
  font-family: 'Slabo 27px', serif;
  margin:0;
  background-color: #333;
  font-size: 14px;
}

h1 {
  font-size: 2.5em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.8em;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  color: white;
  margin: 0;
  padding:0;
}

.nav-links {
  text-align: center;
  color: white;
  font-size: 1.6em;
}

ul {
  list-style: none;
}

.nav-links a {
  color: white;
}

.nav-links li {
  display: inline-block;
  padding: 0;
  margin: 0 1em;
}

.editable-window {
  font-size: 1.2em;
  margin: 1em;
}

ul.nav-links {
  margin: 0;
  padding: 0.7em 0 0 0;
}

form label {
  text-transform: capitalize;
  margin-right: 1em;
}

form {
  float: left;
  margin: 2em;
  text-align: left;
  color: white;
  border: 0.2em solid white;
  padding: 3em;
}

input[type=radio] {
  margin: 0.5em 1em 0.5em 0;
}

label {
  font-size: 1.2em;
}

select {
  margin: 1em 0;
}

button {
  display: inline-block;
  position: relative;
  overflow: visible;
  width: auto;
  zoom: 1;
  padding: 7px 20px 8px 20px;
  margin: 0 5px 5px 0;
  border-radius: 0;
  text-decoration: none;
  text-shadow: none;
  white-space: nowrap;
  font-size: 1.1em;
  letter-spacing: -.01em;
  line-height: 1.5;
  color: white;
  border: 0.1em white solid;
  transition: all .2s ease-in-out;
  background-color: transparent;
  cursor: pointer;
  margin: 1em;
}

.button-big {
  margin: 1em 2em;
  font-family: 'Slabo 27px', serif;
}

.left-menu {
  float: left;
  width: 20em;
}

.button:hover {
  background: #888;
  color: #fff;
}

button[disabled=disabled], button:disabled {
  opacity: 0.5;
}

table {
  text-align: left;
  color: white;
  border-collapse: collapse;
  padding: 2em;
}

table, tr, th, td {
  border: 1px solid white;
  padding: 1em;
}

td {
  font-size: 0.9em;
}

th {
  font-size: 1.1em;
}

table {
  margin: 2em 1em 1em 1em;
}

.overview {
  float: left;
  margin: 2em;
  padding: 3em;
  border: 0.2em solid white;
}

.snow-bar {
  background-color: transparent;
  height: 1.5em;
  z-index: 3;
}

.window {
  margin: 2em 2em;
  padding: 1em;
  display: inline-block;
  background-color: #4B0082;
  color: white;
  text-align: center;
  border: 0.1em solid white;
}

.window-content {
  background-color: transparent;
  padding: 4em;
}

.window-content-open {
  background-color: white;
  color: black;
}

.iframe-spotify {
  width: 230px;
  height: 310px;
}

.image {
  width: 22em;
}

.calendar {
  height: 30em;
}

.calendar-snow {
  background: none;
  background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  height: 100%;
  left: 0;
  width: 100%;
  z-index:1;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
